<aside id="sidebar">
    <div class="d-flex" style="display:flex">
        <button class="toggle-btn" type="button" onclick="handleSidebarButton()" style="display:flex">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">LAM</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="{{ url_for('lobby') }}" class="sidebar-link" style="display: flex">
                <i class="material-symbols-outlined" style="font-size:24px">        home</i>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{{ url_for('battery')}}" class="sidebar-link" style="display: flex">
                <i class="material-symbols-outlined" style="font-size:24px">battery_charging_80</i>
                <span>Bateria</span>
            </a>
        </li>
        {% if is_admin %}
        <li class="sidebar-item"></li>
            <a href="{{ url_for('register')}}" class="sidebar-link">
                <i class="lni lni-protection"></i>
                <span>Registrar</span>
            </a>
        </li>
        {% endif %}


        <li class="sidebar-item">
            <a href="{{ url_for('inversor_fronius')}}" class="sidebar-link" style="display: flex">
                <i>
                    <svg width="24" height="24" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.26672 10.6077C8.26672 10.6077 9.44819 9.47195 10.5422 9.46997C12.2775 9.46683 13.3613 11.8503 15.0934 11.7455C16.0851 11.6856 17.3689 10.6078 17.3689 10.6078" stroke="white" stroke-width="1.5"/>
                        <path d="M5.25 6.06665C5.25 5.65244 5.58579 5.31665 6 5.31665H26C26.4142 5.31665 26.75 5.65244 26.75 6.06665V26.0667C26.75 26.4809 26.4142 26.8167 26 26.8167H6C5.58579 26.8167 5.25 26.4809 5.25 26.0667V6.06665Z" stroke="white" stroke-width="2.5"/>
                        <path d="M6 26L25.5 6.5" stroke="white" stroke-width="2.5"/>
                        <path d="M15.8 20.4178H23.7645" stroke="white" stroke-width="1.5"/>
                        <path d="M15.8 22.6932H19.2134" stroke="white" stroke-width="1.5"/>
                        <path d="M20.3512 22.6932H23.7645" stroke="white" stroke-width="1.5"/>
                        </svg>
                </i>
                <span>Inversor Fronius</span>
            </a>
        </li>
        
        <li class="sidebar-item">
            <a href="{{ url_for('inversor_quattro')}}" class="sidebar-link" style="display: flex">
                <i>
                    <svg width="24" height="24" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.26672 10.6077C8.26672 10.6077 9.44819 9.47195 10.5422 9.46997C12.2775 9.46683 13.3613 11.8503 15.0934 11.7455C16.0851 11.6856 17.3689 10.6078 17.3689 10.6078" stroke="white" stroke-width="1.5"/>
                        <path d="M5.25 6.06665C5.25 5.65244 5.58579 5.31665 6 5.31665H26C26.4142 5.31665 26.75 5.65244 26.75 6.06665V26.0667C26.75 26.4809 26.4142 26.8167 26 26.8167H6C5.58579 26.8167 5.25 26.4809 5.25 26.0667V6.06665Z" stroke="white" stroke-width="2.5"/>
                        <path d="M6 26L25.5 6.5" stroke="white" stroke-width="2.5"/>
                        <path d="M15.8 20.4178H23.7645" stroke="white" stroke-width="1.5"/>
                        <path d="M15.8 22.6932H19.2134" stroke="white" stroke-width="1.5"/>
                        <path d="M20.3512 22.6932H23.7645" stroke="white" stroke-width="1.5"/>
                        </svg>
                </i>
                <span>Inversor Quattro</span>
            </a>
        </li>

        

        <li class="sidebar-item">
            <a href="{{ url_for('conversor')}}" class="sidebar-link" style="display: flex">
                <i class="material-symbols-outlined" style="font-size:24px">offline_bolt</i>
                <span>Conversor</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="{{ url_for('controlador')}}" class="sidebar-link" style="display: flex">
                <i class="material-symbols-outlined" style="font-size:24px">tune</i>
                <span>Controlador de carga</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="{{ url_for('alarms')}}" class="sidebar-link" style="display: flex">
                <i class="material-symbols-outlined" style="font-size:24px">notification_important</i>
                <span>Alarms</span>
            </a>
        </li>

    </ul>
    <div class="sidebar-footer">
        <a href="{{url_for('logout')}}" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />