<nav id="topbar" class="flex justify-between items items-center py-3 px-4">
    <h1 class="text-4xl">Bateria</h1>
    <div class="flex items-center gap-3">
        <img src="{{url_for('static', filename='images/user_icon.svg')}}" class=""/>
        <div class="flex flex-col gap-1">
            <span class="text-base font-bold"> {{user}} </span>
            <div class="flex items-center gap-2">
                <img src="{{url_for('static', filename='images/calendar.svg')}}" class=""/>
                <span class="text-sm" id="datestring"></span>
                <img src="{{url_for('static', filename='images/clock.svg')}}" class=""/>
                <span class="text-sm" id="timestring"></span>
            </div>
        </div>

    </div>
</nav>