{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/minecraft.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block content %}
    <div class="bg-neutral-800 min-h-screen flex flex-col">
        {{ TopBar.render(title='Alarmes', user=user) }}
        <div class="flex flex-col w-full flex-fill  items-center gap-3  px-4">
          <div class="flex items-start gap-3 self-stretch">

            <div id="input" class="flex h-[41px] min-h-10 py-2 px-3 items-center gap-2 flex-1 rounded-md bg-neutral-50 border">
                <div id="content" class="flex items-center gap-2 flex-1">
                    <input type="text" placeholder="Pesquisa" class= "text-[var(--neutral-800,#525252)] font-sans text-[16px] font-normal leading-[24px]">
                </div>
            </div>
            <div id="bagde" class="flex py-1 px-3 items-center self-stretch gap-1 rounded-md bg-violet-500 shadow-sm">
                <a class="text-[var(--color-text-onColor,#FFF)] text-center font-sans text-[14px] font-medium leading-[20px] " href="#">Pesquisar</a>
            </div>
          </div>

          <div class="flex p-3 items-start gap-2 flex-1 self-stretch rounded-lg mb-4 border">
                <table class="min-w-full text-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b">Id</th>
                            <th class="py-2 px-4 border-b">Titulo do Alarme</th>
                            <th class="py-2 px-4 border-b">Descrição</th>
                            <th class="py-2 px-4 border-b">Confirmado</th>
                            <th class="py-2 px-4 border-b">Usuário que confirmou</th>
                            <th class="py-2 px-4 border-b">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody class="text-lg">
                        {% for alarmLog in alarmLogs %}
                        <tr>
                            <td class="py-2 px-4 border-b">{{ alarmLog['id'] }}</td>
                            <td class="py-2 px-4 border-b">{{ alarmLog['message'] }}</td>
                            <td class="py-2 px-4 border-b">{{ alarmLog['description'] }}</td>
                            <td class="py-2 px-4 border-b">
                                {{ alarmLog['confirmed'] }}
                                {% if not alarmLog['confirmed'] %}
                                <a class="text-purple-500 font-semibold" href="{{url_for('confirm_alarm', alarm_id=alarmLog['id'])}}">
                                    Confirmar
                                </a>
                                 {% endif %}
                            </td>
                            <td class="py-2 px-4 border-b">{{ alarmLog['confirmed_by_user_id'] }}</td>
                            <td class="py-2 px-4 border-b">{{ alarmLog['timestamp'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
          </div>
        </div>
    </div>

{% endblock %}