{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}
{% block content %}
  <div class="bg-neutral-800 min-h-screen">
    {{ TopBar.render(title='Bateria', user=user) }}
    <div  class="flex flex-col items-center gap-3 px-4">
      <div  class="flex w-full gap-3">
        <div  class="flex flex-col items-stretch gap-3 w-fit">
          <div class="flex justify-center">
            <div  class="relative flex h-full w-fit justify-center items-center ">
              <img class="z-20" src="{{url_for('static', filename='images/battery_animated.svg')}}"/>
              <span class="absolute z-40">
                {{battery.charged_percent}}%
              </span>
              <span class="absolute bottom-0 left-0 w-full {% if battery.charged_percent < 20 %}bg-red-500 shadow-red-500 {% elif battery.charged_percent < 60 %} bg-yellow-500 shadow-yellow-500 {% else %} bg-green-500 shadow-green-500 {% endif %} z-10 rounded-md shadow-glow  " style="height: {{battery.charged_percent * 3.49}}px;"></span>
            </span>
            </div>
          </div>
          <div  class="flex justify-center items-center gap-4"> 
            <form action="{{url_for('toggle_battery_mode')}}" method="post">
              <button type="submit" id="power" class="flex p-3 items-center justify-center flex-col rounded-full bg-violet-600">
                <img class="size-6" src="{{url_for('static', filename='images/on.svg')}}">
              </button>
            </form>
            </form>
              <form action="{{url_for('toggle_battery_relay_state')}}" method="post">
                <button type="submit" id="settings" class="flex p-3 items-center justify-center flex-col rounded-full bg-violet-600">
                  <img class="size-6" src="{{url_for('static', filename='images/cog.svg')}}">
                </button>
              </form>
              <a id="viewer" class="flex p-3 items-center justify-center flex-col rounded-full bg-violet-600" href="{{url_for('grafics')}}">
                <img class="size-6" src="{{url_for('static', filename='images/eye.svg')}}">
              </a>
          </div>
        </div>
        <div class="flex-grow grid grid-cols-2 gap-3">
          <div  class="flex p-3 flex-col items-center gap-3 col-span-1  rounded-2xl border-2 border-solid border-white">
            <div  class="flex p-[10px] items-start gap-[10px]">
              <span class=" text-4xl">Tensão</span>
            </div>
            <div class="flex flex-grow w-[678px] h-[339px]">
              <canvas id="chartTensao" class="w-[678px] h-[339px]"></canvas>
            </div>
          </div>
          <div  class="flex p-3 flex-col items-center gap-3 col-span-1 rounded-2xl border-2 border-solid border-white">
            <div  class="flex p-[10px] items-start gap-[10px]">
              <span class=" text-4xl">Corrente
              </span>
            </div>
            <div class="flex flex-grow w-[678px] h-[339px]">
              <canvas id="chartCorrente" class="w-[678px] h-[339px]"></canvas>
            </div>
          </div>
        </div>
      </div>



      {% set first_half = [
        ('Capacidade:', battery.capacity, "Ah"),
        ('Porcentagem de Saúde:', battery.health_percent, "%"),
        ('Percentual de Carga:', battery.charged_percent, "%"),
        ('Máxima Tensão de Entrada:', battery.max_in_voltage, "V"),
        ('Mínima Tensão de Saída:', battery.min_out_voltage, "V"),
      ]%}
      {% set second_half = [
        ('Relé:', battery.relay_status, ""),
        ('Modelo:', battery.model, ""),
        ('Fabricante:', battery.manufacturer, ""),
        ('Estado:', battery.state, "")
      ]%}
      <div class="flex items-start gap-3 w-full">
        <div class="flex px-3 py-2 flex-col items-stretch flex-1 rounded-2xl border-2 border-solid border-white ">
          {% for item in first_half %}
            <div class="flex px-1 py-2 justify-between items-start {% if not loop.last %} border-b-2 {% endif %} border-neutral-600">
              <span class="text-white
            text-2xl">{{ item[0] }}</span>
              <span class="text-white text-2xl font-medium">{{ item[1] }} {{item[2]}}</span>
            </div>
          {% endfor %}  
        </div>
        <div class="flex px-3 py-2 flex-col items-stretch flex-1 rounded-2xl border-2 border-solid border-white ">
          {% for item in second_half %}
            <div class="flex px-1 py-2 justify-between items-start {% if not loop.last %} border-b-2 {% endif %}-b-2 border-neutral-600">
              <span class="text-white
            text-2xl">{{ item[0] }}</span>
              <span class="text-white text-2xl font-medium">{{ item[1] }} {{item[2]}}</span>
            </div>
          {% endfor %}  
        </div>
      </div>
  </div>

  <script>
    var socket = io();

    socket.on('connect', () => {
        console.log('Connected to WebSocket server');
    });

    document.addEventListener('htmx:load', function() {

      let width, height, gradient;
      function getGradient(ctx, chartArea) {
        const chartWidth = chartArea.right - chartArea.left;
        const chartHeight = chartArea.bottom - chartArea.top;
        if (!gradient || width !== chartWidth || height !== chartHeight) {
          // Create the gradient because this is either the first render
          // or the size of the chart has changed
          width = chartWidth;
          height = chartHeight;
          gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
          gradient.addColorStop(0, '#7C3AED00');
          // gradient.addColorStop(0.4, '#FFFF00');
          gradient.addColorStop(1, '#7C3AED');
        }

        return gradient;
      }










      const chartTensao = document.getElementById('chartTensao');
      //cleanup whats inside
      chartTensao.innerHTML = '';
      new Chart(chartTensao, {
        type: 'line',
        data: {
          labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
          datasets: [{
            data: [12, 19, 3, 5, 2, 3],
            borderWidth: 1,
            cubicInterpolationMode: 'monotone',
            fill:true,
            // backgroundColor:  '#AA00FF',
            backgroundColor:  function(context) {
              const chart = context.chart;
              const {ctx, chartArea} = chart;

              if (!chartArea) {
                // This case happens on initial chart load
                return;
              }
              return getGradient(ctx, chartArea);
            },
            // borderColor: '#AA00FF',
            borderColor: '#7C3AED'
          }]
        },
        options: {
          scales: {
            x: {
              ticks: {
                color: '#AAAAAA'
              },
              
            },
            y: {
              beginAtZero: true,
              ticks: {
                color: '#AAAAAA'
              },
            }
          },
          plugins: {
            legend: {
              display: false, // Hide the legend
            }
          }
        },

      });
    
    const chartCorrente = document.getElementById('chartCorrente');
    chartCorrente.innerHTML = '';
    new Chart(chartCorrente, {
      type: 'line',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', 'Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange', 'Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          data: [12, 19, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3],
          borderWidth: 1,
          fill:true,
          cubicInterpolationMode: 'monotone',
          backgroundColor:  function(context) {
              const chart = context.chart;
              const {ctx, chartArea} = chart;

              if (!chartArea) {
                // This case happens on initial chart load
                return;
              }
              return getGradient(ctx, chartArea);
            },
            // borderColor: '#AA00FF',
            borderColor: '#7C3AED'
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
                color: '#AAAAAA'
              },
          },
          x: {
            ticks: {
              color: '#AAAAAA'
            }
          }
        },
        plugins: {
          legend: {
            display: false, // Hide the legend
          }
        }
      },
      
    });
  });
</script>

{% endblock %}