{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}

{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        {{ TopBar.render(title='Fronius', user=user) }}

        {% set items = [
            {
                'name': 'Potência Máxima',
                'value': '999 kw/h'
            },

            {
                'name': 'Capacidade Máxima de Potência',
                'value': '999 Kw/h'
            },

            {
                'name': 'Limite de Potência',
                'value': '999 Kw/h'
            },
            {
                'name': 'Potência L1',
                'value': ' 999 W'
            },
            {
                'name': 'Potência L2',
                'value': ' 999 W'
            },
            {
                'name': 'Potência L3',
                'value': ' 999 W'
            }

            ] %}

        {% set items2 = [
            {
                'name': 'Tensão L1',
                'value': ' 999 V'
            },

            {
                'name': 'Tensão L2',
                'value': ' 999 V'
            },
            {
                'name': 'Tensão L3',
                'value': ' 999 V'
            },

            {
                'name': 'Corrente L1',
                'value': ' 999 A'
            },

            {
                'name': 'Corrente L2',
                'value': ' 999 A'
            },

            {
                'name': 'Corrente L3',
                'value': ' 999 A'
            }
            ] %}

        <div class="flex flex-col items-center w-full px-3 text-2xl gap-3">
            
            <div class="flex gap-3 w-fit">
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Tensão L1</h2>
                    <canvas id="chartTensaoL1" class="w-[500px]"></canvas> 
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Tensão L2</h2>
                    <canvas id="chartTensaoL2" class="w-[500px]"></canvas>  
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Tensão L3</h2>
                    <canvas id="chartTensaoL3" class="w-[500px]"></canvas> 
                    </canvas>
                </div>
                
            </div>
            <div class="flex gap-3 w-fit ">
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Corrente L1</h2>
                    <canvas id="chartCorrenteL1" class="w-[500px]"></canvas> 
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Corrente L2</h2>
                    <canvas id="chartCorrenteL2" class="w-[500px]"></canvas>
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Corrente L3</h2>
                    <canvas id="chartCorrenteL3" class="w-[500px]"></canvas> 
                    </canvas>
                </div>
                
            </div>

            <div class="grid grid-cols-2 gap-3">
              <div class="flex flex-col border-2 rounded-2xl py-2 col-span-1  ">
                  {% for item in items %}
                      <div class="flex justify-between {% if not loop.last %} border-b-2 border-neutral-700 {% endif %} mx-3 px-2 py-1 gap-3">
                          <span>
                              {{ item.name }}
                          </span>
                          <span class="font-semibold">
                              {{ item.value }}
                          </span>
                      </div>
                  {% endfor %}
              </div>

              <div class="flex flex-col border-2 rounded-2xl  py-2 col-span-1">
                  {% for item in items2 %}
                      <div class="flex justify-between {% if not loop.last %} border-b-2 border-neutral-700 {% endif %} mx-3 px-2 py-1 gap-3">
                          <span>
                              {{ item.name }}
                          </span>
                          <span class="font-semibold">
                              {{ item.value }}
                          </span>
                      </div>
                  {% endfor %}
              </div>

          </div>

        </div>

        

        <script>
            var socket = io();
        
            socket.on('connect', () => {
                console.log('Connected to WebSocket server');
            });
        
            document.addEventListener('htmx:load', function() {

              let contextTensaoL1 = document.getElementById('chartTensaoL1').getContext("2d");
              let tensaoL1Chart = newGraph(contextTensaoL1);
              let contextTensaoL2 = document.getElementById('chartTensaoL2').getContext("2d");
              let tensaoL2Chart = newGraph(contextTensaoL2);
              let contextTensaoL3 = document.getElementById('chartTensaoL3').getContext("2d");
              let tensaoL3Chart = newGraph(contextTensaoL3);

              let contextCorrenteL1 = document.getElementById('chartCorrenteL1').getContext("2d");
              let CorrenteL1Chart = newGraph(contextCorrenteL1);
              let contextCorrenteL2 = document.getElementById('chartCorrenteL2').getContext("2d");
              let CorrenteL2Chart = newGraph(contextCorrenteL2);
              let contextCorrenteL3 = document.getElementById('chartCorrenteL3').getContext("2d");
              let CorrenteL3Chart = newGraph(contextCorrenteL3);
          });
        </script>
  {% endblock %}