{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}

{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        {{ TopBar.render(title='Fronius', user=user) }}

        {% set items = [
            {
                'name': 'Potência Máxima',
                'value': '999 kw/h',
                'id': 'potenciaMaxima'
            },

            {
                'name': 'Capacidade Máxima de Potência',
                'value': '999 Kw/h',
                'id': 'capacidadeMaximaPotencia'
            },

            {
                'name': 'Limite de Potência',
                'value': '999 Kw/h',
                'id': 'limitePotencia'
            },
            {
                'name': 'Potência L1',
                'value': ' 999 W',
                'id': 'potenciaL1'
            },
            {
                'name': 'Potência L2',
                'value': ' 999 W',
                'id': 'potenciaL2'
            },
            {
                'name': 'Potência L3',
                'value': ' 999 W',
                'id': 'potenciaL3'
            }

            ] %}

        {% set items2 = [
            {
                'name': 'Tensão L1',
                'value': ' 999 V',
                'id': 'tensaoL1'
            },

            {
                'name': 'Tensão L2',
                'value': ' 999 V',
                'id': 'tensaoL2'
            },
            {
                'name': 'Tensão L3',
                'value': ' 999 V',
                'id': 'tensaoL3'
            },

            {
                'name': 'Corrente L1',
                'value': ' 999 A',
                'id': 'correnteL1'
            },

            {
                'name': 'Corrente L2',
                'value': ' 999 A',
                'id': 'correnteL2'
            },

            {
                'name': 'Corrente L3',
                'value': ' 999 A',
                'id': 'correnteL3'
            }
            ] %}

        <div class="flex flex-col items-center w-full px-3 text-2xl gap-3">
            
            <div class="flex gap-3 w-fit">
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Tensão L1</h2>
                    <canvas id="chartTensaoL1" class="w-[500px]"></canvas> 
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Tensão L2</h2>
                    <canvas id="chartTensaoL2" class="w-[500px]"></canvas>  
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Tensão L3</h2>
                    <canvas id="chartTensaoL3" class="w-[500px]"></canvas> 
                    </canvas>
                </div>
                
            </div>
            <div class="flex gap-3 w-fit ">
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Corrente L1</h2>
                    <canvas id="chartCorrenteL1" class="w-[500px]"></canvas> 
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Corrente L2</h2>
                    <canvas id="chartCorrenteL2" class="w-[500px]"></canvas>
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Corrente L3</h2>
                    <canvas id="chartCorrenteL3" class="w-[500px]"></canvas> 
                    </canvas>
                </div>
                
            </div>

            <div class="grid grid-cols-2 gap-3">
              <div class="flex flex-col border-2 rounded-2xl py-2 col-span-1  ">
                  {% for item in items %}
                      <div class="flex justify-between {% if not loop.last %} border-b-2 border-neutral-700 {% endif %} mx-3 px-2 py-1 gap-3">
                          <span>
                              {{ item.name }}
                          </span>
                          <span class="font-semibold" id="{{item.id}}">
                              {{ item.value }}
                          </span>
                      </div>
                  {% endfor %}
              </div>

              <div class="flex flex-col border-2 rounded-2xl  py-2 col-span-1">
                  {% for item in items2 %}
                      <div class="flex justify-between {% if not loop.last %} border-b-2 border-neutral-700 {% endif %} mx-3 px-2 py-1 gap-3">
                          <span>
                              {{ item.name }}
                          </span>
                          <span class="font-semibold" id="{{item.id}}">
                              {{ item.value }}
                          </span>
                      </div>
                  {% endfor %}
              </div>

          </div>

        </div>

        

        <script>
            var socket = io();
        
            socket.on('connect', () => {
                console.log('Connected to WebSocket server');
            });

            socket.on('fronius_log_created', (data) => {
                let timestamp = data.timestamp;
                tensaoL1Chart.data.labels.push(timestamp);
                tensaoL1Chart.data.datasets[0].data.push(data.tensaoL1);

                tensaoL2Chart.data.labels.push(timestamp);
                tensaoL2Chart.data.datasets[0].data.push(data.tensaoL2);

                tensaoL3Chart.data.labels.push(timestamp);
                tensaoL3Chart.data.datasets[0].data.push(data.tensaoL3);

                CorrenteL1Chart.data.labels.push(timestamp);
                CorrenteL1Chart.data.datasets[0].data.push(data.correnteL1);

                CorrenteL2Chart.data.labels.push(timestamp);
                CorrenteL2Chart.data.datasets[0].data.push(data.correnteL2);

                CorrenteL3Chart.data.labels.push(timestamp);
                CorrenteL3Chart.data.datasets[0].data.push(data.correnteL3);

                if (tensaoL1Chart.data.labels.length > 200){
                    tensaoL1Chart.data.labels.shift();
                    tensaoL1Chart.data.datasets[0].data.shift();
                }
                if (tensaoL2Chart.data.labels.length > 200){
                    tensaoL2Chart.data.labels.shift();
                    tensaoL2Chart.data.datasets[0].data.shift();
                }
                if (tensaoL3Chart.data.labels.length > 200){
                    tensaoL3Chart.data.labels.shift();
                    tensaoL3Chart.data.datasets[0].data.shift();
                }
                if (CorrenteL1Chart.data.labels.length > 200){
                    CorrenteL1Chart.data.labels.shift();
                    CorrenteL1Chart.data.datasets[0].data.shift();
                }
                if (CorrenteL2Chart.data.labels.length > 200){
                    CorrenteL2Chart.data.labels.shift();
                    CorrenteL2Chart.data.datasets[0].data.shift();
                }
                if (CorrenteL3Chart.data.labels.length > 200){
                    CorrenteL3Chart.data.labels.shift();
                    CorrenteL3Chart.data.datasets[0].data.shift();
                }
                tensaoL1Chart.update();
                tensaoL2Chart.update();
                tensaoL3Chart.update();
                CorrenteL1Chart.update();
                CorrenteL2Chart.update();
                CorrenteL3Chart.update();

                document.getElementById('potenciaMaxima').innerText = data.potenciaMaxima.toFixed(2) + ' W';
                document.getElementById('capacidadeMaximaPotencia').innerText = data.capacidadeMaximaPotencia.toFixed(2) + ' W';
                document.getElementById('limitePotencia').innerText = data.limitedePotencia.toFixed(2) + ' W';

                document.getElementById('potenciaL1').innerText = data.potenciaL1.toFixed(2) + ' W';
                document.getElementById('potenciaL2').innerText = data.potenciaL2.toFixed(2) + ' W';
                document.getElementById('potenciaL3').innerText = data.potenciaL3.toFixed(2) + ' W';

                document.getElementById('tensaoL1').innerText = data.tensaoL1.toFixed(2) + ' V';
                document.getElementById('tensaoL2').innerText = data.tensaoL2.toFixed(2) + ' V';
                document.getElementById('tensaoL3').innerText = data.tensaoL3.toFixed(2) + ' V';

                document.getElementById('correnteL1').innerText = data.correnteL1.toFixed(2) + ' A';
                document.getElementById('correnteL2').innerText = data.correnteL2.toFixed(2) + ' A';
                document.getElementById('correnteL3').innerText = data.correnteL3.toFixed(2) + ' A';

            })
        

              var contextTensaoL1 = document.getElementById('chartTensaoL1').getContext("2d");
              var tensaoL1Chart = newGraph(contextTensaoL1);
              var contextTensaoL2 = document.getElementById('chartTensaoL2').getContext("2d");
              var tensaoL2Chart = newGraph(contextTensaoL2);
              var contextTensaoL3 = document.getElementById('chartTensaoL3').getContext("2d");
              var tensaoL3Chart = newGraph(contextTensaoL3);

              var contextCorrenteL1 = document.getElementById('chartCorrenteL1').getContext("2d");
              var CorrenteL1Chart = newGraph(contextCorrenteL1);
              var contextCorrenteL2 = document.getElementById('chartCorrenteL2').getContext("2d");
              var CorrenteL2Chart = newGraph(contextCorrenteL2);
              var contextCorrenteL3 = document.getElementById('chartCorrenteL3').getContext("2d");
              var CorrenteL3Chart = newGraph(contextCorrenteL3);
        
        </script>
  {% endblock %}