{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/minecraft.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        {% include "components/topbar.html" %}

        <div class="flex flex-col gap-5">

        
            <div class="flex gap-5 ">
                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Capacidade</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                    <h2>Capacidade</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                </div>
                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Capacidade</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                    <h2>Capacidade</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                </div>
                
            </div>
            <div class="flex gap-5 ">
                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Capacidade</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                    <h2>Capacidade</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                </div>
                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Capacidade</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                    <h2>Capacidade</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                </div>
            </div>
        </div>

    </div>
    

{% endblock %}