{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/minecraft.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        {{ TopBar.render(title='Grafics', user=user) }}

        <div class="flex px-3 flex-col gap-5">

        
            <div class="flex gap-5 ">
                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Potência</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                    <h2>Energia</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                </div>
                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Consumo</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                    <h2>Temperatura</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                </div>
                
            </div>
            <div class="flex gap-5 ">
                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Carga Média</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                    <h2>Descarga Média</h2>
                    <canvas class="bg-red-500 max-h-[200px]"> 
                    </canvas>
                </div>
                
            </div>
        </div>

    </div>
    

{% endblock %}