{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/minecraft.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        {{ TopBar.render(title='Grafics', user=user) }}

        <div class="flex px-4 flex-col gap-3">

            <div class="flex gap-3">

                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Potência</h2>
                    <canvas class="w-[550px]" id="chartPotencia"> 
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Energia</h2>
                    <canvas class="w-[550px]" id="chartEnergia"> 
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Consumo</h2>
                    <canvas class="w-[550px]" id="chartConsumo"> 
                    </canvas>
                </div>
            </div>
                
            <div class="flex gap-3">

                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Carga Média</h2>
                    <canvas class="w-[550px]" id="chartCargaMedia"> 
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Descarga Média</h2>
                    <canvas class="w-[550px]" id="chartDescargaMedia"> 
                    </canvas>
                </div>
                <div class="flex flex-col border-2 rounded-2xl p-3 gap-2">
                    <h2>Temperatura</h2>
                    <canvas class="w-[550px]" id="chartTemperatura"> 
                    </canvas>
                </div>
            </div>
                

        </div>

    </div>

    <script>
        var socket = io();

        socket.on('connect', () => {
            console.log('Connected to WebSocket server');
        });

        let contextPotencia = document.getElementById('chartPotencia').getContext("2d");
        let PotenciaChart = newGraph(contextPotencia);

        let contextEnergia = document.getElementById('chartEnergia').getContext("2d");
        let EnergiaChart = newGraph(contextEnergia);

        let contextConsumo = document.getElementById('chartConsumo').getContext("2d");
        let ConsumoChart = newGraph(contextConsumo);

        let contextTemperatura = document.getElementById('chartTemperatura').getContext("2d");
        let TemperaturaChart = newGraph(contextTemperatura);

        let contextCargaMedia = document.getElementById('chartCargaMedia').getContext("2d");
        let CargaMediaChart = newGraph(contextCargaMedia);

        let contextDescargaMedia = document.getElementById('chartDescargaMedia').getContext("2d");
        let DescargaMediaChart = newGraph(contextDescargaMedia);


        socket.on('battery_log_created', (data) => {
            console.log('Battery log created:', data);

            // Update the chart with the new data
            let timestamp = data.timestamp;
            let current = data.current;

            // Add the new data to the chart
            PotenciaChart.data.labels.push(timestamp);
            PotenciaChart.data.datasets[0].data.push(data.power);

            EnergiaChart.data.labels.push(timestamp);
            EnergiaChart.data.datasets[0].data.push(data.energy);

            ConsumoChart.data.labels.push(timestamp);
            ConsumoChart.data.datasets[0].data.push(data.consumo);

            TemperaturaChart.data.labels.push(timestamp);
            TemperaturaChart.data.datasets[0].data.push(data.temperature);

            CargaMediaChart.data.labels.push(timestamp);
            CargaMediaChart.data.datasets[0].data.push(data.average_charge);

            DescargaMediaChart.data.labels.push(timestamp);
            DescargaMediaChart.data.datasets[0].data.push(data.average_discharge);

            if (PotenciaChart.data.labels.length > 200) {
                // Remove the oldest data
                PotenciaChart.data.labels.shift();
                PotenciaChart.data.datasets[0].data.shift();
            }
            if (EnergiaChart.data.labels.length > 200) {
                // Remove the oldest data
                EnergiaChart.data.labels.shift();
                EnergiaChart.data.datasets[0].data.shift();
            }
            if (ConsumoChart.data.labels.length > 200) {
                // Remove the oldest data
                ConsumoChart.data.labels.shift();
                ConsumoChart.data.datasets[0].data.shift();
            }
            if (TemperaturaChart.data.labels.length > 200) {
                // Remove the oldest data
                TemperaturaChart.data.labels.shift();
                TemperaturaChart.data.datasets[0].data.shift();
            }
            if (CargaMediaChart.data.labels.length > 200) {
                // Remove the oldest data
                CargaMediaChart.data.labels.shift();
                CargaMediaChart.data.datasets[0].data.shift();
            }
            if (DescargaMediaChart.data.labels.length > 200) {
                // Remove the oldest data
                DescargaMediaChart.data.labels.shift();
                DescargaMediaChart.data.datasets[0].data.shift();
            }

            // Update the chart
            EnergiaChart.update();
            PotenciaChart.update();
            ConsumoChart.update();
            TemperaturaChart.update();
            CargaMediaChart.update();
            DescargaMediaChart.update();
        });
    </script>
    

{% endblock %}