{% extends "base.html" %}

{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        <nav id="topbar" class="flex justify-between items items-center py-3 px-4">
            <h1 class="text-4xl">Fronius</h1>
            <div class="flex items-center gap-3">
                <img src="{{url_for('static', filename='images/user_icon.svg')}}" class=""/>
                <div class="flex flex-col gap-1">
                    <span class="text-base font-bold"> Mateus Henrique </span>
                    <div class="flex items-center gap-2">
                        <img src="{{url_for('static', filename='images/calendar.svg')}}" class=""/>
                        <span class="text-sm" id="datestring"></span>
                        <img src="{{url_for('static', filename='images/clock.svg')}}" class=""/>
                        <span class="text-sm" id="timestring"></span>
                    </div>
                </div>

            </div>
        </nav>

        {% set items = [
            {
                'name': 'Tensão',
                'value': '23%'
            },
            {
                'name': 'Corrente',
                'value': '23%'
            },
            {
                'name': 'Potência',
                'value': '23%'
            },
            {
                'name': 'Energia',
                'value': '23%'
            }
            ] %}

        {% set items2 = [
            {
                'name': 'bla',
                'value': '23%'
            },
            {
                'name': 'asd',
                'value': '23%'
            },
            {
                'name': 'asdsdd',
                'value': '23%'
            },
            {
                'name': 'kkkk',
                'value': '23%'
            }
            ] %}

        <div class="flex w-full justify-evenly px-3 gap-5">
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/battery_animated.svg')}}">
                </div>
                <span class="flex justify-center"> texto</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/battery_animated.svg')}}">
                </div>
                <span class="flex justify-center"> texto</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/battery_animated.svg')}}">
                </div>
                <span class="flex justify-center"> texto</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/battery_animated.svg')}}">
                </div>
                <span class="flex justify-center"> texto</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/battery_animated.svg')}}">
                </div>
                <span class="flex justify-center"> texto</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-5">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
        


        </div>
  {% endblock %}