{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}

{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        {{ TopBar.render(title='Home', user=user) }}

        <div class="flex w-full px-4 gap-3 flex-wrap">
            <div class="flex flex-col items-center border-2 rounded-2xl py-2 px-2 gap-3 w-fit">
                <img class="size-[160px]" src="{{url_for('static', filename='images/battery_animated.svg')}}">
                <span class="">Bateria</span>
                <div class=" flex  flex-col text-2xl"> 
                    <div class="w-[325px] flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Estado</span>
                            <span id="batteryState">dado</span>
                        </div>
                    </div>
                    <div class="w-[325px] flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Capacidade</span>
                            <span id="batteryCapacity">dado</span>
                        </div>
                    </div>

                    <div class="w-[325px] flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Tensão</span>
                            <span id="voltage">dado</span>
                        </div>
                    </div>

                    <div class="w-[325px] flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Corrente</span>
                            <span id="current">dado</span>
                        </div>
                    </div>
                    <div class="w-[325px] flex px-2">
                        <div class="flex w-full mx-3 px-2 py-1 justify-between gap-3">
                            <span>Temperatura</span>
                            <span id="temperature">dado</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="flex flex-col items-center border-2 rounded-2xl py-2 px-2 gap-3 w-fit">
                <img class="size-[160px]" src="{{url_for('static', filename='images/quattro-icon.svg')}}">
                <span class="">Quattro</span>
                <div class=" flex  flex-col text-2xl"> 
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Estado</span>
                            <span>ON</span>
                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Frequência de Saída</span>
                            <span>60 hz</span>
                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>PV Inverter</span>
                            <span>ON</span>
                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Lim. de Corrente Ativa</span>
                            <span>10 A</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="flex flex-col items-center border-2 rounded-2xl py-2 px-2 gap-3 w-fit">
                <img class="size-[160px]" src="{{url_for('static', filename='images/fronius-icon.svg')}}">
                <span class="">Fronius</span>
                <div class=" flex  flex-col text-2xl"> 
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Estado</span>
                            <span>ON</span>
                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Posição</span>
                            <span>AC INPUT</span>
                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Potência máxima</span>
                            <span> 1000 W</span>
                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>Limite de Potência</span>
                            <span>1000 W</span>
                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full mx-3 px-2 py-1 justify-between gap-3">
                            <span>Cap. máxima de potência</span>
                            <span>1000 W</span>
                        </div>
                    </div>
                </div>
            </div>



            


                
            <div class="flex flex-col items-center border-2 rounded-2xl py-2 px-2 gap-3 w-fit">
                <img class="size-[160px]" src="{{url_for('static', filename='images/generator-icon.svg')}}">
                <span class="">Gerador</span>
                <div class=" flex  flex-col text-2xl"> 
                    <div class="flex px-2">
                        <div class="flex w-full  mx-3 px-2 py-1 justify-between gap-3">
                            <span>Estado</span>
                            <span>ON</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="flex flex-col items-center border-2 rounded-2xl py-2 px-2 gap-3 w-fit">
                <img class="size-[160px]" src="{{url_for('static', filename='images/CLP-icon.svg')}}">
                <span class="">CLP</span>
                <div class=" flex  flex-col text-2xl"> 
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between gap-3">
                            <span>CCGX Relé 1</span>
                            <span>OPEN</span>
                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full  mx-3 px-2 py-1 justify-between gap-3">
                            <span>CCGX Relé 2</span>
                            <span>CLOSED</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script>
            var socket = io();

            socket.on('connect', () => {
                console.log('Connected to WebSocket server');
            });

            socket.on('battery_log_created', (data) => {
                console.log('Battery log created:', data);

                document.getElementById('batteryState').innerText = "STANDBY";
                document.getElementById('batteryCapacity').innerText = 270.0 + ' Ah';
                document.getElementById('temperature').innerText = data.temperature.toFixed(2) + ' ºC';
                document.getElementById('voltage').innerText = data.voltage.toFixed(2) + ' V';
                document.getElementById('current').innerText = data.current.toFixed(2) + ' A';
            });


        </script>
  {% endblock %}