{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}

{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        {{ TopBar.render(title='Home', user=user) }}

        {% set items = [
            {
                'name': 'Tensão',
                'value': '23%'
            },
            {
                'name': 'Corrente',
                'value': '23%'
            },
            {
                'name': 'Potência',
                'value': '23%'
            },
            {
                'name': 'Energia',
                'value': '23%'
            }
            ] %}

        {% set items2 = [
            {
                'name': 'bla',
                'value': '23%'
            },
            {
                'name': 'asd',
                'value': '23%'
            },
            {
                'name': 'asdsdd',
                'value': '23%'
            },
            {
                'name': 'kkkk',
                'value': '23%'
            }
            ] %}

        <div class="flex w-full justify-evenly px-3 gap-5">
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/battery_animated.svg')}}">
                </div>
                <span class="flex justify-center">Bateria</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>Estado</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>Capacidade</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>Tensão</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>Corrente</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>Temperatura</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/quattro-icon.svg')}}">
                </div>
                <span class="flex justify-center"> Quattro</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/fronius-icon.svg')}}">
                </div>
                <span class="flex justify-center">Fronius</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/generator-icon.svg')}}">
                </div>
                <span class="flex justify-center">Gerador</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col border-2 rounded-2xl py-2 px-2 gap-2 flex-grow">
                <div class="flex justify-center">
                    <img class="size-[160px]" src="{{url_for('static', filename='images/CLP-icon.svg')}}">
                </div>
                <span class="flex justify-center"> CLP</span>

                <div class=" flex  flex-col text-2xl px-5"> 
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>
                    <div class="flex px-2">
                        <div class="flex w-full border-b-2 border-neutral-700 mx-3 px-2 py-1 justify-between">

                            <span>ddadao</span>

                            <span>dado</span>

                        </div>
                    </div>

                </div>
            </div>
        


        </div>
  {% endblock %}