{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}
{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        {{ TopBar.render(title='Quattro', user=user) }}
        <div class=" px-4 flex gap-3 w-full justify-center items-start ">
            <div class="flex  flex-col gap-3 flex-[1_0_0] self-stretch bg-neutral-800">
                
                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Potência L1</h2>
                    <canvas id="chartPotenciaL1" class="max-h-[200px]"></canvas> 
                    </canvas>
                </div>

                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Potência L2</h2>
                    <canvas id="chartPotenciaL2" class="max-h-[200px]"></canvas> 
                    </canvas>
                </div>

                <div class="flex flex-col flex-grow border-2 rounded-2xl p-3 gap-2">
                    <h2>Potência L3</h2>
                    <canvas id="chartPotenciaL3" class="max-h-[200px]"></canvas> 
                    </canvas>
                </div>

            </div>
            
            <div class="flex flex-col items-center gap-[10px] flex-[1_0_0] self-stretch bg-neutral-800">
                <div class="flex p-2 flex-col items-center flex[1_0_0] self-stretch rounded-[20px] border-2 border-neutral-50 bg-neural-800">
                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Frequência de Saída</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 Hz  </span>

                    </div>

                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Tensão de Sáida L1 </span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 V  </span>

                    </div>

                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Tensão de Sáida L2</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 V   </span>

                    </div>
                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Tensão de Sáida L3</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 V  </span>

                    </div>
                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Corrente de Sáida L1</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 A</span>

                    </div>
                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Corrente de Sáida L2</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 A</span>

                    </div>
                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Corrente de Sáida L3</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 A</span>

                    </div>
                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Potência de Sáida L1</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 W </span>

                    </div>
                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Potência de Sáida L2</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 W  </span>

                    </div>
                    <div class="flex py-2 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Potência de Sáida L3</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999 W  </span>

                    </div>
              


                </div>
            </div>
        </div>

        <script>
            var socket = io();
        
            socket.on('connect', () => {
                console.log('Connected to WebSocket server');
            });
        
            document.addEventListener('htmx:load', function() {
              let contextPotenciaL1 = document.getElementById('chartPotenciaL1').getContext("2d");
              let potenciaL1Chart = newGraph(contextPotenciaL1);

              let contextPotenciaL2 = document.getElementById('chartPotenciaL2').getContext("2d");
              let potenciaL2Chart = newGraph(contextPotenciaL2);
          
              let contextPotenciaL3 = document.getElementById('chartPotenciaL3').getContext("2d");
              let potenciaL3Chart = newGraph(contextPotenciaL3);   
          });
        </script>
  {% endblock %}