{% import "components/topbar.html" as TopBar %}
{% extends "base.html" %}
{% block content %}
    <div class="bg-neutral-800 min-h-screen">
        {{ TopBar.render(title='Quattro', user=user) }}
        <div class="flex w-[1626  px] h-[928px] justify-center items-start gap-5 shrink-0">
            <div class="flex p-5 flex-col items-center gap-5 flex-[1_0_0] self-stretch rounded-[20px] border-2 border-neutral-50 bg-neutral-800">
                <div class="flex p-[10px] items-start gap-[10px] self-stretch rounded-[10px]">
                    <span class="text-white font-inter text-2xl font-bold leading-normal"> Tensão</span>
                </div>

                <div id="chart" class=" flex-1 self-stretch w-[600px] h-[200px]" >
                    <canvas id="myChart" width="400px" height="100px"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        const ctx = document.getElementById('myChart');
                    
                        new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3],
                            borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                            y: {
                                beginAtZero: true
                            }
                            }
                        }
                        });
                    </script>
                    
    
                </div>

                <div class="flex p-[10px] items-start gap-[10px] self-stretch rounded-[10px]">
                    <span class="text-white font-inter text-2xl font-bold leading-normal"> Corrente</span>
                </div>

                <div id="chart" class=" flex-1 self-stretch w-[600px] h-[200px]" >
                    <canvas id="myChart2" width="400px" height="100px"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        const ctx2 = document.getElementById('myChart2');
                        
                        new Chart(ctx2, {
                            type: 'bar',
                            data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                borderWidth: 1
                            }]
                            },
                            options: {
                            scales: {
                                y: {
                                beginAtZero: true
                                }
                            }
                            }
                        });
                    </script>
                     

                    

                </div>

                
                <div class="flex p-[10px] items-start gap-[10px] self-stretch rounded-[10px]">
                    <span class="text-white font-inter text-2xl font-bold leading-normal"> Potência</span>
                </div>

                <div id="chart" class=" flex-1 self-stretch w-[600px] h-[200px]" >
                    <canvas id="myChart3" width="400px" height="100px"></canvas>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
                        const ctx3 = document.getElementById('myChart3');
                        
                        new Chart(ctx3, {
                            type: 'bar',
                            data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                borderWidth: 1
                            }]
                            },
                            options: {
                            scales: {
                                y: {
                                beginAtZero: true
                                }
                            }
                            }
                        });
                    </script>
                     
                </div>

            </div>
            
            <div class="flex flex-col items-center gap-[10px] flex-[1_0_0] self-stretch bg-neutral-800">
                <div class="flex p-5 flex-col items-center flex[1_0_0] self-stretch rounded-[20px] border-2 border-neutral-50 bg-neural-800">
                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Frequência de Saída</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>

                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>

                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>
                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>
                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>
                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>
                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>
                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>
                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>
                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>
                    <div class="flex py-4 px-[10px] items-start justify-between self-stretch border-b-2 border-neutral-700">
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> Teste</span>
                        <span class="text-white font-inter text-2xl font-medium leading-normal"> 9999   </span>

                    </div>


                </div>
            </div>
        </div>
  {% endblock %}