<!DOCTYPE html>
<html>
<head>
  {% include 'components/head_imports.html' %}
</head>
<body hx-boost="true">
  {% include 'components/flash_message.html' %}
  <main class="flex w-full h-screen bg-neutral-800 text-white">
    <div class="flex items-center justify-center flex-grow">
      <form class="flex flex-col gap-3 p-3 border-2 rounded-xl w-[300px]" action="{{ url_for('register') }}" method="post" hx-boost="true">
        <h2 class="mx-auto text-2xl font-semibold">Cadastro</h2>
        <div class="flex bg-white rounded-md px-2 py-1 gap-2">
          <img src="{{url_for('static', filename='images/user_form.svg')}}"/>
          <input class="w-full text-black" type="text" placeholder="nome completo" name="name" required>
        </div>
        <div class="flex bg-white rounded-md px-2 py-1 gap-2">
          <img src="{{url_for('static', filename='images/user_form.svg')}}"/>
          <input class="w-full text-black" type="text" placeholder="username" name="username" required>
        </div>
        <div class="flex bg-white rounded-md px-2 py-1 gap-2">
          <img src="{{url_for('static', filename='images/user_form.svg')}}"/>
          <input class="w-full text-black" type="text" placeholder="username" name="username" required>
        </div>
        <div class="flex bg-white rounded-md px-2 py-1 gap-2">
          <img src="{{url_for('static', filename='images/password_form.svg')}}"/>
          <input class="w-full text-black" type="password" placeholder="senha" name="password" required>
        </div>
        <div class="flex bg-white rounded-md px-2 py-1 gap-2">
          <img src="{{url_for('static', filename='images/password_form.svg')}}"/>
          <input class="w-full text-black" type="password" placeholder="confirmação de senha" name="password_confirm" required>
        </div>
        <div class="flex justify-between">
          <a href="{{url_for('lobby')}}" class="border px-4 py-1 rounded-md font-semibold">Sair</a>
          <button class="px-4 py-1 bg-violet-500 rounded-md font-semibold" type="submit">Cadastrar</button>
        </div>
      </form>
    </div>
    <div class="flex items-center justify-center overflow-hidden">
      <img src="{{url_for('static', filename='images/logo.svg')}}">
      </img>
    </div>
  </main>
</body>
</html>




<!-- <!DOCTYPE html>
<html>
<head>
  {% include 'components/head_imports.html' %}
</head>
<body hx-boost="true">
  {% include 'components/flash_message.html' %} 
  <form method="post">  
    <div>
      <h2>Register Form</h2>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <label for="password_confirm"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="password_confirm" required>
      <button type="submit">Register</button>
    </div>
  </form>
</body>
</html> -->