@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;

}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;

}

.wrapper {
    display: flex;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    border-right: 1px solid rgba(161, 110, 255, 0.94);
    background: #323259;
    box-shadow: 2px 0px 24px 0px rgba(161, 110, 255, 0.25);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    /* Altura total da viewport */

}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* Estilos para a Navbar */
.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #1B1B38;
    color:#FFF;
    font-size: 2.15rem;
    margin-left: 70px; /* Inicia com a largura mínima do sidebar */
    transition: margin-left .25s ease-in-out;
    
}

#sidebar.expand ~ .main-content {
    margin-left: 260px; /* Ajusta quando o sidebar está expandido */
}

.navbar {
    padding: 0.8rem;
    text-align: center;
    background-color: #323259;
    filter: drop-shadow(0px 2px 4px #A16EFF);

}

.right-items {
    font-size: 15px;
}

#datetime {
    font-size: 15px;
}



.chart-container {
    display: block;
    max-width: 100%; /* Garante que o contêiner não ultrapasse a largura da página */
    width: 1720px;
    height: 300px;
    flex-shrink: 0;
    fill: #323259;
    stroke-width: 1px;
    stroke: #A16EFF;
    filter: drop-shadow(2px 2px 2px #A16EFF);
    background-color: #323259;
}

/* Estilo individual para cada canvas */
.chart-container canvas {
    max-width: 100%; /* Largura máxima para cada gráfico */
    max-height: 140px; /* Altura máxima para cada gráfico */
    width: 100%;
    height: auto;
}

.battery-block{
    width: 280px;
    height: 465px;
    display: flex;
    content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #323259;
    stroke-width: 1px;
    stroke: #A16EFF;
    filter: drop-shadow(2px 2px 2px #A16EFF);
}



#battery {
  box-sizing: content-box;
  height: 275px;
  width: 140px;
  border: 3px solid #A16EFF;
  margin: auto;
  border-radius: 5px;
  position: relative;
  display: grid;
  place-items: center;
}
#battery:before {
  position: absolute;
  border: 2px solid #A16EFF;
  content: "";
  height: 20px;
  width: 45px;
  margin: auto;
  bottom: 275px;
  border-radius: 5px 5px 0 0;
}

.buttons {
    display: flex;
    width: 220px;
    flex-direction: column;
    justify-content: space-between;
    height: 465px;
    

  }
  
  .top, .middle, .bottom {
    text-align: center; 
  }
  
.bt-power, .bt-settings, .bt-viewr{
    text-align: center; 
    width: 220px;
    stroke-width: 1px;
    stroke: #A16EFF;;
    border-radius: 20px;
    height: 125px;
    background-color: #323259;
    filter: drop-shadow(2px 2px 2px #A16EFF);



}

.content-p-3{
    margin-top: 50px;
    display:flex;
    flex-wrap: wrap;
    gap: 45px;
    margin-left: 35px;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz'48
}

.info-pannel{
    width: 1130px;
    height: 465px;
    fill: #323259;
    stroke: #A16EFF;
    filter: drop-shadow(2px 2px 2px #A16EFF);
    background-color: #323259;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .battery-block, .buttons, .info-pannel {
      flex-basis: 100%;
    }
}   

.title-battery {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 20px;
    width: 500px;
    align-items: center; /* Centraliza verticalmente */
    border-bottom: 2px solid #A16EFF; 
    filter: drop-shadow(2px 2px 2px #A16EFF);

    
  }

  .outer-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    
  }